<h1>Ngx Resizable Grid Demo</h1>
<h2>Resize Layout</h2>

<button (click)="onToggleSidenav()">Toggle Sidenav</button>
<div class="main">
  <div class="side-nav" [class.open]="sidenavOpen"></div>
  <div class="page">
    <resize-layout [config]="resizeLayoutConfig" [templates]="layoutTemplates"></resize-layout>
  </div>
</div>

<ng-template resizeLayoutTemplate key="block1">
  <div class="block" style="background: palevioletred"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block2">
  <div class="block" style="background: pink"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block3">
  <div class="block" style="background: goldenrod"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block4">
  <div class="block" style="background: gold"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block5">
  <div class="block" style="background: palegreen"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block6">
  <div class="block" style="background: seagreen"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block7">
  <div class="block" style="background: skyblue"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block8">
  <div class="block" style="background: cornflowerblue"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block9">
  <div class="block" style="background: violet"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block10">
  <div class="block" style="background: peru"></div>
</ng-template>

<!-- <h2>Example 1</h2>
<resize-layout [config]="resizeLayoutConfig2" [templates]="layoutTemplates"></resize-layout> -->

<h2>Example 2</h2>
<resize-layout [config]="resizeLayoutConfig3" [templates]="layoutTemplates"></resize-layout>

<h2>Example 3</h2>
<resize-layout [config]="resizeLayoutConfig4" [templates]="layoutTemplates"></resize-layout>

<h2>Example 4</h2>
<resize-layout [config]="resizeLayoutConfig5" [templates]="layoutTemplates"></resize-layout>

<div style="width: 100%; height: 400px"></div>
