<h1>Ngx Resizable Grid Demo</h1>
<resize-container>
  <resize-unit type="row" [flex]="30" [directions]="['bottom']">
    <resize-unit type="col" [flex]="40" [directions]="['right']">
      <div class="block"></div>
    </resize-unit>
    <resize-unit type="col" [flex]="40" [directions]="['right']">
      <div class="block"></div>
    </resize-unit>
    <resize-unit type="col" [flex]="20" [directions]="['none']">
      <div class="block"></div>
    </resize-unit>
  </resize-unit>
  <resize-unit type="row" [flex]="30" [directions]="['bottom']">
    <div class="block"></div>
  </resize-unit>
</resize-container>

<h2>Resize Layout</h2>

<resize-layout [config]="resizeLayoutConfig" [templates]="layoutTemplates"></resize-layout>

<ng-template resizeLayoutTemplate key="block1">
  <div class="block" style="background: palevioletred"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block2">
  <div class="block" style="background: orange"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block3">
  <div class="block" style="background: lightgreen"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block4">
  <div class="block" style="background: lightskyblue"></div>
</ng-template>

<h2>Other Content</h2>
<div class="block"></div>
