<h1>Ngx Resizable Grid Demo</h1>
<h2>Resize Layout</h2>

<button (click)="onToggleSidenav()">Toggle Sidenav</button>
<div class="main">
  <div class="side-nav" [class.open]="sidenavOpen"></div>
  <div class="page">
    <resize-layout [config]="resizeLayoutConfig" [templates]="layoutTemplates"></resize-layout>
  </div>
</div>

<ng-template resizeLayoutTemplate key="block1">
  <div class="block" style="background: palevioletred"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block2">
  <div class="block" style="background: orange"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block3">
  <div class="block" style="background: lightgreen"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block4">
  <div class="block" style="background: rgb(144, 205, 238)"></div>
</ng-template>

<ng-template resizeLayoutTemplate key="block5">
  <div class="block" style="background: rgb(135, 152, 250)"></div>
</ng-template>

<h2>Other Content</h2>
<div style="width: 100%; height: 400px"></div>
